@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
  background-color: #343462;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-title {
  font-size: 30px;
}

.header-student h2 {
  font-size: 18px;
  font-weight: 400;
}

.header-student h2 span {
  font-weight: 600;
}

/* LABARATORY */
.laboratory {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0px 10px;
  padding-top: 30px;
}

.blog {
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
}

.tema {
  color: #474747;
  margin-bottom: 10px;
}

.title {
  margin-bottom: 20px;
  color: rgb(32, 32, 110);
}

/* Отступы */
.left {
  padding-left: 30px;
}
.top {
  padding-top: 30px;
}

.bottom {
  padding-bottom: 20px;
}

th {
  padding: 10px;
  background-color: #343462;
  color: #fff;
}
td {
  padding: 10px;
  background-color: #f5f5f5;
}
.blog-flex-text {
  line-height: 24px;
}

.blog-flex {
  display: flex;
  padding: 0px;
}

.blog-left {
  background-color: #343462;
  color: #fff;
  width: 50%;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog-right {
  background-color: #4c00ff;
  color: #fff;
  width: 50%;
  text-align: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form {
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 5px 10px #d6d6d6;
}

.label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.input {
  border: none;
  border-bottom: 1px solid #bababa;
  padding: 10px;
}

.texterea {
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #bababa;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #343462;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #454581;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-columns: repeat(3, 1fr); */
  gap: 15px;
}
